<div class="view">
   <mat-card [formGroup]="form">
      <mat-card-title>{{"saludo" |translate}}</mat-card-title>
      <mat-card-header>{{"explicacion_ocr"|translate}}</mat-card-header>
      <mat-card-content>
         <div class="formulario">
            <div>
               <button type="button" mat-button [disabled]="loading"
                  (click)="fileInput.click()">{{"seleccion_archivo"|translate}}</button>
               <input hidden formControlName="img" (change)="upLoadFile($event)" #fileInput type="file" id="file">
               <span *ngIf="file">{{file.name}}</span>
            </div>
            <img *ngIf="file" is="img-preview" [src]="imgSrc" alt="preview de la imagen a procesar" />
            <mat-progress-bar class="example-margin" [value]="progressValue">
            </mat-progress-bar>
         </div>
      </mat-card-content>
      <mat-card-actions>
         <button mat-flat-button color="primary" [disabled]="form.invalid || loading"
            (click)="onRecognise()">{{"iniciar_reconocimiento"|translate}}</button>
      </mat-card-actions>
   </mat-card>
   <mat-card *ngIf="result">
      <mat-card-title>{{"resultado"|translate}}</mat-card-title>
      <mat-card-content>
         <div class="result" [innerHTML]="result"></div>
      </mat-card-content>
   </mat-card>
</div>