.view {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 80%;

  .formulario {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  ::ng-deep span.ocrx_word {
    border: 1px solid red;
    margin: 0.2em;
    padding: 0 0.3em;
  }
  mat-card {
    margin-top: 1em;
    width: 40%;
  }
}
